[workspace]
members = [
    "programs/*"
]
resolver = "2"

[profile.release]
codegen-units = 1
lto = "fat"
opt-level = "z"
strip = "symbols"
panic = "abort"
overflow-checks = true

[profile.release.build-override]
opt-level = 3
incremental = false
codegen-units = 1
